$formimage-height:                  10rem;
$formimage-border-width:            $input-border-width;
$formimage-border-color:            $input-border-color;
$formimage-border-radius:           $input-border-radius;
$formimage-box-shadow:              $input-box-shadow;
$formimage-padding-x:               $input-padding-x;
$formimage-padding-y:               $input-padding-x;
$formimage-preview-bg-color:        $gray-100;
$formimage-preview-transition:      opacity .3s ease;